#navbar{
    background-color: #da9286 !important;
}

#navTitle{
    color: white;
    font-family: 'Kaushan Script', cursive;
}

#link{
    color: white; 
}

/* Colors 
Brown:#dd9a78
light pink: eccbc2
darker pink:#da9286 
orange: d17b5f
*/